
<h1>Inscription</h1>

<%= form_for(@utilisateur) do |f| %>

<%= f.label :nom %>
<%= f.text_field :nom %>


<%= f.label :email %>
<%= f.email_field :email %>


<%= f.label :password %>
<%= f.password_field :password %>


<%= f.label :password_confirmation, "confirmation" %>

<%= f.password_field :password_confirmation%>

<%=f.submit "creer", class: "btn btn-primary" %>

<% end %>


